@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@300;400;600&display=swap');

// Single Course Styles
#single-course {
    .single-course-hero {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .single-course-content {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

// Single Instructor Styles
#single-instructor {
    margin: 25px 0;

    .instructor-image {
        height: 350px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .single-instructor-content {
        margin-top: 25px;

        .instructor-details {
            margin-bottom: 30px;

            .entry-title {
                margin-bottom: 5px;
            }

            p {
                margin: 0;

                &:first-of-type {
                    margin: 0 0 5px;
                }
            }
        }

        h4 {
            font-size: 1rem;
            font-weight: 600;
            color: $secondary;
        }

        hr {
            margin: 15px 0;
        }
    }
}

// Single Instructor, Single Course and Home Page Banner Styles
#banner {
    background: $secondary;
    text-align: center;

    .banner-details {
        padding: 25px 0;
        color: $white;

        .header-title {
            font-size: 2rem;
            margin-bottom: 10px;
        }
    }
}

// About us
#about-us {
    margin: 60px 0;
}

// Home
#hero-section {
    padding: 0;

    .carousel-indicators {
        bottom: 50px;
    }

    .carousel-item {
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #hero-content {
        color: $white;
        padding-top: 80px;

        .header-title {
            font-size: 3rem;
            margin-bottom: 0;
        }

        .header-lead {
            font-weight: 300;
            font-size: 28px;
            margin-bottom: 15px;
        }
    }
}

#training-section {
    background: $gray;

    .training-section-container {
        background: $gray;
        position: relative;
        bottom: 50px;
        padding: 15px;

        .training-card {
            padding-bottom: 15px;

            .training-card-wrapper {
                border: 1px solid $light-gray;

                .training-img {
                    height: 200px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                .training-body {
                    padding: 15px;

                    .training-link {
                        hr {
                            width: 30px;
                            margin: 0px 10px 5px 0;
                            padding: 0;
                            display: inline-block;
                            background: $light-gray;
                        }

                        a {
                            font-weight: 800;
                            color: $secondary;
                        }
                    }
                }
            }
        }

        .body-title {
            margin: 0 auto;
            text-decoration: underline;
            color: $black;
            margin-top: 20px;
        }
    }
}

#home-banner {
    background: $primary;
    text-align: center;

    .banner-details {
        padding: 80px 0;
        color: $white;

        .header-title {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .primary-button {
            background: $secondary;
        }

        .strong-lead {
            font-weight: 800;
            color: $secondary;
        }
    }
}